.carousel-container {
    width: 100%;
    overflow: hidden;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

.carousel-wrapper {
    display: flex;
    transition: transform 1s ease;
}

.carousel-item {
    min-width: 100%; /* Usamos 100% para que cada imagen ocupe todo el ancho del contenedor */
    padding: 0; /* Eliminamos el padding para reducir el espacio entre las imágenes */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    max-width: 100%; /* Las imágenes no excederán el tamaño del contenedor */
    max-height: 300px; /* Limita la altura de las imágenes */
    object-fit: contain; /* Mantiene la relación de aspecto */
    transition: transform 1s ease;
}
