.item-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.text-and-image-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(193, 158, 158);
  border-radius: 10px;
  width: 100%;
  background-color: antiquewhite;
  height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#image-item {
  border: solid black;
  border-radius: 10px;
  height: 250px;
}

.text-item {
  font-size: 25px;
  padding-left: 100px;
}