body {
  overflow-x: hidden;
}

.item-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.second-container-title {
  margin-bottom: 35px;
  font-size: 21px;
  text-align: center;
}

.second-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 60px;
  margin-bottom: 75px;
}

.second-items {
  width: 25vw;
  height: 32vh;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  padding: 21px;
  font-size: 25px;
  background: linear-gradient(beige, blanchedalmond);
}

.text-and-image-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(193, 158, 158);
  width: 100%;
  box-sizing: border-box;
  background-color: antiquewhite;
  height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-item {
  border: solid black;
  border-radius: 10px;
  height: 250px;
}

.text-item {
  font-size: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .image-item {
    height: 180px;
    margin-bottom: 10px;
  }

  .text-item {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

  }

  .second-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .second-items {
    width: 70vw;
    height: 23vh;
    border: 2px solid;
    border-radius: 5px;
  }

  .second-container-title {
    font-size: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .text-and-image-container {
    flex-flow: column wrap;
    height: auto;
    justify-content: center;
  }

  .image-item {
    height: 200px;
    margin-bottom: 15px;
    margin-top: 40px;
  }

  .text-item {
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .second-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .second-items {
    width: 60vw;
    height: 24vh;
    border: 2px solid;
    border-radius: 5px;
  }

  .second-container-title {
    font-size: 21px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 781px) {
  .text-and-image-container {
    flex-flow: row nowrap;
    height: 300px;
    justify-content: space-between;
    padding: 20px;
  }

  .image-item {
    height: 220px;
  }

  .text-item {
    font-size: 22px;
    padding-left: 50px;
  }

  .second-container-title {
    font-size: 23px;
  }

  .second-items {
    height: 24vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .text-and-image-container {
    flex-flow: row nowrap;
    height: 350px;
    padding: 30px;
  }

  .image-item {
    height: 250px;
  }

  .text-item {
    font-size: 24px;
    padding-left: 80px;
  }

  .second-container-title {
    font-size: 24px;
  }

  .second-items {
    height: 25vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .text-and-image-container {
    flex-flow: row nowrap;
    height: 350px;
    padding: 30px;
  }

  .image-item {
    height: 250px;
  }

  .text-item {
    font-size: 25px;
    padding-left: 100px;
  }

  .second-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 75px;
  }

  .second-items {
    width: 25vw;
    height: 32vh;
  }

  .second-container-title {
    font-size: 25px;
  }
}